@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.55rem;
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 213 74% 15%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 97.3%;
    --secondary-foreground: 213 74% 15%;
    --muted: 216 33% 97%;
    --muted-foreground: 222 47% 40%;
    --accent: 46 68% 47%;
    --accent-foreground: 213 74% 15%;
    --destructive: 359.9132 100.2494% 67.8807%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 92.2%;
    --input: 0 0% 92.2%;
    --ring: 46 68% 47%;
    --chart-1: 46 68% 47%;
    --chart-2: 213 74% 15%;
    --chart-3: 216 33% 97%;
    --chart-4: 222 47% 11%;
    --chart-5: 0 0% 70%;
    --sidebar: 0 0% 97.5%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 213 74% 15%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 216 33% 97%;
    --sidebar-accent-foreground: 213 74% 15%;
    --sidebar-border: 0 0% 92.2%;
    --sidebar-ring: 46 68% 47%;
  }

  .dark {
    --radius: 0.55rem;
    --background: 222 47% 11%;
    --foreground: 0 0% 97.5%;
    --card: 213 74% 15%;
    --card-foreground: 0 0% 97.5%;
    --popover: 213 74% 15%;
    --popover-foreground: 0 0% 97.5%;
    --primary: 0 0% 97.5%;
    --primary-foreground: 213 74% 15%;
    --secondary: 222 47% 20%;
    --secondary-foreground: 0 0% 97.5%;
    --muted: 222 47% 20%;
    --muted-foreground: 0 0% 70.8%;
    --accent: 46 68% 47%;
    --accent-foreground: 213 74% 15%;
    --destructive: 359.9132 100.2494% 67.8807%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100% / 15%;
    --input: 0 0% 100% / 15%;
    --ring: 46 68% 47%;
    --chart-1: 46 68% 47%;
    --chart-2: 213 74% 35%;
    --chart-3: 216 33% 80%;
    --chart-4: 222 47% 60%;
    --chart-5: 0 0% 50%;
    --sidebar: 213 74% 15%;
    --sidebar-foreground: 0 0% 97.5%;
    --sidebar-primary: 46 68% 47%;
    --sidebar-primary-foreground: 213 74% 15%;
    --sidebar-accent: 222 47% 20%;
    --sidebar-accent-foreground: 0 0% 97.5%;
    --sidebar-border: 0 0% 100% / 10%;
    --sidebar-ring: 46 68% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 md:px-6 lg:px-8 max-w-7xl w-full;
  }
}
